@{
    /**/

    /**/

    ViewBag.Title = "Home Page";
    <style>
        td.details-control {
            background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
        }
    </style>

    <script src="../../plugins/datatable10/dataTables.scroller.min.js"></script>

    <link href="../../plugins/datatable10/jquery-ui.min.css" rel="stylesheet" />
    <script src="../../plugins/datatable10/jquery-ui.min.js"></script>
    <link href="../../plugins/datatable10/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="../../plugins/datatable10/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatable10/jquery.validate.min.js"></script>
    <script src="../../plugins/datatable10/jquery.validate.unobtrusive.min.js"></script>
    <link href="../../plugins/datatable10/scroller.dataTables.min.css" rel="stylesheet" />
    <script src="../../plugins/datatable10/bootstrap.min.js"></script>
    <link href="../../plugins/datatable10/bootstrap.min.css" rel="stylesheet" />
    <script src="../../plugins/datatable10/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>






    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAD8ohcVeph4H385jDExqYfHeHROxFtbJo"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $('#lstTabledd').DataTable({
                processing: true,
                destroy: true,
                serverSide: true,
                searchable: true,
                initComplete: function () {
                    $(this.api().table().container()).find('input').parent().wrap('<form>').parent().attr('autocomplete', 'off');
                },
                ajax: {
                    url: "/Home/LoadGrid",
                    contentType: "application/json",
                    type: 'POST',
                    data: function (d) {
                        return "{'requestModel' : " + JSON.stringify(d) + "}";
                    },
                    dataType: "json",
                    dataSrc: function (json) {
                        json.draw = json.draw;
                        json.recordsTotal = json.recordsTotal;
                        json.recordsFiltered = json.recordsFiltered;
                        json.data = json.data;
                        var return_data = json;
                        return return_data.data;
                    }
                },
                columns: [
                    {
                        sortable: false,
                        className: "details-control",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "TransitionId", sortable: false },
                    { data: "EnergyId", sortable: false },
                    { data: "DeviceId", sortable: false },
                    { data: "RPhaseVolt", sortable: false },
                    { data: "RPhaseVolt", sortable: false },
                    { data: "YPhaseVolt", sortable: false },
                    { data: "BPhaseVolt", sortable: false },
                    
                   


                    //{ data: "date_time", sortable: false }

                ]
            });

            $('#lstTabledd tbody').on('click', 'td.details-control', function () {

                var tr = $(this).closest('tr');
                var row = $('#lstTabledd').DataTable().row(tr);
                var incNo = tr.find('td:eq(1)').text();
                var sendForm = new Object();
                sendForm.DeviceId = incNo;

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    $.ajax({
                        url: "/Home/LoadChildLightData",
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(sendForm),
                        success: function (DataJson) {
                            var d = DataJson.data;
                            var txtHTML = '<div  style="overflow: auto"><table border="1" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
                            txtHTML += "<thead><tr><th>clean</th><th>Automated lights</th><th>Sanitary pad</th><th>lock</th><th>water tank </th><th>Water level </th><th>Water level </th><th>Date And Time</th></tr></thead> <tbody>";
                            for (var i = 0; i < d.length; i++) {
                                var txtTR = '<tr>' +
                                    //'<td> ' index + 1 ' </td>' +
                                    
                                    '<td>' + '<img id="img5" src="/Image/green.gif">' + '</td>' +
                                    '<td>' + '<img id="img5" src="/Image/green.gif">' + '</td>' +
                                    '<td>' + '<img id="img6" src="/Image/green.gif">' + '</td>' +
                                    '<td>' + '<img id="img7" src="/Image/red.gif">' + '</td>' +
                                    '<td>' + '<img id="img5" src="/Image/green.gif">' + '</td>' +
                                    '<td>' + '<img id="img6" src="/Image/green.gif">' + '</td>' +
                                    '<td>' + '<img id="img7" src="/Image/red.gif">' + '</td>' +

                                    '<td>' + d[i].TDate + '</td>' +

                                    '</tr>'
                                txtHTML += txtTR;
                            }
                            txtHTML += ' </tbody></table></div>';
                            row.child(txtHTML).show();
                            tr.addClass('shown');
                        }
                    });

                }


            });
        });
        function getbyID(ID) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Home/GetloctionById?objId=" + ID,
                data: "{}",
                dataType: "json",
                success: function (data) {

                    var locations = data;
                    var lat = locations[0].Lat;
                    var longt = locations[0].Lng;
                    var pth = new Array();
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 17,
                        center: new google.maps.LatLng(lat, longt),
                        mapTypeId: google.maps.MapTypeId.ROADMAP

                    });

                    var infowindow = new google.maps.InfoWindow();
                    var contentString;
                    var marker, i;
                    var circle;
                    var iconBase = '/Image/';
                    for (i = 0; i < locations.length; i++) {

                        contentString = "<div style='float:right; padding: 10px;font-size: 18px;font-weight:bold;'>Device Name-"
                            + locations[i].ProductName + "<br/>Lat-"
                            + locations[i].Lat + "<br/>Long-"
                            + locations[i].Lng + "<br/>Transaction Date & Time-"
                            + locations[i].TDate + "<br/>Oil Temp-"
                            + locations[i].FuelSensor1Val + "<br/>Ambient Temp-"
                            + locations[i].FuelSensor2Val + "<br/>Oil Level-"
                            + locations[i].Reserved1 + "<br/>[R]/[Y]/[B] Phase Volt-"
                            + locations[i].Volt + "<br/>[R]/[Y]/[B] Phase Curnt-"
                            + locations[i].Curnt + "<br/>[R]/[Y]/[B] Phase KW-"
                            + locations[i].KW + "<br/>Total Kwh Unit-"
                            + locations[i].TotalKwhUnit + "<br/>Total Kwh Load-"
                            + locations[i].TotalKwhLoad + "</div>";

                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i].Lat, locations[i].Lng),
                            map: map,
                            icon: iconBase + 'light.png',
                            content: contentString
                        });

                        // circle = new google.maps.Circle({
                        //    center: new google.maps.LatLng(locations[i].Lat, locations[i].Lng),
                        //    map: map,
                        //    radius: 50,          // IN METERS.
                        //    fillColor: '#FF6600',
                        //    fillOpacity: 0.3,
                        //    strokeColor: "#FF6600",
                        //    strokeWeight: 3         // DON'T SHOW CIRCLE BORDER.
                        //});
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(marker.content);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }


                },
                error: function (result) {
                    alert("error");
                }
            });
        }
    </script>
}

<div class="wrapper">

    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box">

                        <div class="box-header">

                            <br />
                            <h3 class="box-title">All Toilet Details</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="overflow:auto">
                            <table id="lstTabledd" class="table table-bordered display" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>S. No</th>

                                        <th>clean</th>
                                        <th>Automated light </th>
                                        
                                        <th>Sanitary pads </th>
                                        <th>lock </th>

                                        <th>water tank</th>
                                        <th>Water level </th>
                                        <th>sludge collection tank </th>
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody></tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light-blue">
                <button type="button" class="close bg-danger" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Map</h4>
            </div>
            <div class="modal-body">
                <div class="box-body chart-responsive">

                    <div class="chart">
                        <div id="map" style="height: 470px"></div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>